{% extends 'layout/base.html'%}

{% block header %}
	<div class="masthead text-center mb-0 pb-0 d-flex justify-content-center align-items-baseline">	
		<div class="col-md-2"></div>
		<div class="col-md-8 col-sm-10 jumbotron">
			<h1 class="fs-4"><i class="fas fa-lightbulb mr-4"></i>Proyectos</h1>
		</div>
		<div class="col-md-2">
			<a class="ml-2 fs-3 ml-auto pr-2 pt-2 rounded" href="#" data-toggle="tooltip" title="Agregar proyecto">
				<i class="fas fa-plus text-secondary"></i>
			</a>
		</div>
	</div>
{% endblock header %}
{% block content %}
	<div id="accordion" class="masthead row mt-4 pt-4 d-flex justify-content-center">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-sm-10">
			{% for project in request.user.created_projects.all %}
				<div class="mb-5">
					<div class="card col-md-12 px-0">
						<div class="card-header d-flex" id="card_{{ project.id }}">
							<span class="mb-0"><button class="btn btn-link collapsed nounderline" data-toggle="collapse" data-target="#collapse_{{ project.id }}" aria-expanded="false" aria-controls="collapse_{{project.id}}">
								<h2 class="text-secondary">
									{{forloop.counter}} - {{ project.name }}
									<i class="ml-2 fas fa-chevron-down text-collapsed"></i><!--More-->
									<i class="ml-2 fas fa-chevron-up text-expanded"></i><!--Less-->
								</h2>
							</button></span>
							<div class="ml-2 fs-2 ml-auto pr-2 pt-2">
							
							<a class="nounderline" href="{{ project.get_absolute_url }}" data-toggle="tooltip" title="Proyecto">
								<i class="fas fa-window-restore text-secondary"></i>
							</a>
							
							<a class="nounderline" href="{{ project.get_absolute_url|add:'update/' }}" data-toggle="tooltip" title="Editar">
								<i class="fas fa-edit text-secondary ml-3"></i>
							</a>
							</div>
						</div>
						
						<div id="collapse_{{ project.id }}" class="collapse" aria-labelledby="card_{{ project.id }}" data-parent="#accordion">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<h3 class="masthead-subheading mt-2"><span class="text-muted">Autor: </span>{{ project.author.first_name }} {{ project.author.last_name }}</h3>
								</li>
								<li class="list-group-item">
									<h3 class="masthead-subheading text-muted mt-2">Descripción: </h3>
									<h3 class="masthead-subheading ml-5">{{ project.description }}</h3>
								</li>
								<li class="list-group-item">
									<h3 class="masthead-subheading text-capitalize mt-2"><span class="text-muted">Estado: </span>{{ project.status }}</h3>
								</li>
								<li class="list-group-item">
									<h3 class="masthead-subheading mt-2"><span class="text-muted">Privado: </span>{% if project.private %}Sí {% else %} No {% endif %}</h3>
								</li>
								<li class="list-group-item">
									<h3 class=" masthead-subheading text-muted mt-2">Campos: </h3>
									<ul>
										{% for field in project.fields.all %}
											<li class="ml-5"><h3 class="masthead-subheading">{{field}}</h3></li>
										{% endfor %}
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="col-md-2 col-sm-10"></div>
	</div>
{% endblock content %}