{% extends 'layout/base.html' %}
{% block content %}
<div class="masthead row justify-content-center">
    <div class="col-md-8 ml-2 mr-2 pt-3 pb-3 border border-secondary rounded" id="taskDetails">
        <p class="h4">¿Estás seguro(a) de que quieres eliminar la tarea "{{task.name}}" del proyecto "{{task.project}}"?</p>
        <form method='POST' action="" class="text-center">
            {% csrf_token %}
            <a class="btn btn-primary" href="{% url 'projects-update_task' task.id %}">Cancelar</a>
            <input class="btn btn-danger" type="submit" name='Confirm' value="Eliminar Tarea">
        </form>
    </div>
</div>

{% endblock content %}
