{% extends 'layout/base.html' %}

{% block content %}
<div class="masthead row justify-content-center">
    <div class="col-md-3 col-sm-10">
        <div class="content-section">
            <div class="content-section">
                <a class="text-dark " href="{% url 'projects-tasks' %}"> Todas mis tareas </a>
            </div>
            <p> Filtrar por: </p>
            <div id="accordion">
                <div class="card">
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-light" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Proyecto
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse collapsed" aria-labelledby="headingOne"
                        data-parent="#accordion">
                        {% for project in projects %}
                        <li class="list-group-item">
                            <a class="text-dark" href="{% url 'projects-filteredtasks' 'project' project.id %}">
                                {{ project }}
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-dark" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-light" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Equipo
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        {% for team in teams %}
                        <li class="list-group-item">
                            <a class="text-dark" href="{% url 'projects-filteredtasks' 'team' team.id %}"> {{ team }}
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-dark" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-light" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Estado
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        {% for status in statuses %}
                        <li class="list-group-item">
                            <a class="text-dark" href="{% url 'projects-filteredtasks' 'status' forloop.counter0 %}">
                                {{ status.1 }}
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-10">
        <h3 class="text-secondary">Tareas asignadas a mí
            {% if filter %}({{filter}}){% endif %}:
        </h3>
        {% if pending_tasks %}
        <div class="container content-section bg-light">
            <p class="text-dark">Pendientes</p>
            {% for task in pending_tasks %}
            {% if task.due_date < timezone_now %}
            <article class="media content-section row mx-2 border border-danger rounded">
            {% else %}
            <article class="media content-section row mx-2 border border-dark rounded">
            {% endif %}
                <div class="media-body col-md-10">
                    <div class="article-metadata">
                        <small>{{ task.get_status_display }}</small><br>
                        <small class="text-muted">
                            {% if task.due_date < timezone_now %}
                                Venció: 
                            {% else %}
                                Vence: 
                            {% endif %}
                            {{ task.due_date }}
                        </small>
                    </div>
                    <h5 class="mb-0"><a class="article-title" href="#">{{ task.name }}</a></h5>
                    <small> Proyecto: <a href="#">{{ task.project }}</a></small>
                </div>
            </article>
            {% endfor %}
        </div>
        {% endif %}
        {% if in_dev_tasks %}
        <div class="container content-section bg-light">
            <p class="text-dark">En desarrollo</p>
            {% for task in in_dev_tasks %}
            {% if task.due_date < timezone_now %}
            <article class="media content-section row mx-2 border border-danger rounded">
            {% else %}
            <article class="media content-section row mx-2 border border-dark rounded">
            {% endif %}
                <div class="media-body col-md-10">
                    <div class="article-metadata">
                        <small>{{ task.get_status_display }}</small><br>
                        <small class="text-muted">
                            {% if task.due_date < timezone_now %}
                                Venció: 
                            {% else %}
                                Vence: 
                            {% endif %}
                            {{ task.due_date }}
                        </small>
                    </div>
                    <h5 class="mb-0"><a class="article-title" href="#">{{ task.name }}</a></h5>
                    <small> Proyecto: <a href="#">{{ task.project }}</a></small>
                </div>
            </article>
            {% endfor %}
        </div>
        {% endif %}
        {% if in_review_tasks %}
        <div class="container content-section bg-light">
            <p class="text-dark">Listas para revisión</p>
            {% for task in in_review_tasks %}
            {% if task.due_date < timezone_now %}
            <article class="media content-section row mx-2 border border-danger rounded">
            {% else %}
            <article class="media content-section row mx-2 border border-dark rounded">
            {% endif %}
                <div class="media-body col-md-10">
                    <div class="article-metadata">
                        <small>{{ task.get_status_display }}</small><br>
                        <small class="text-muted">
                            {% if task.due_date < timezone_now %}
                                Venció: 
                            {% else %}
                                Vence: 
                            {% endif %}
                            {{ task.due_date }}
                        </small>
                    </div>
                    <h5 class="mb-0"><a class="article-title" href="#">{{ task.name }}</a></h5>
                    <small> Proyecto: <a href="#">{{ task.project }}</a></small>
                </div>
            </article>
            {% endfor %}
        </div>
        {% endif %}
        {% if completed_tasks %}
        <div class="container content-section bg-light">
            <p class="text-dark">Completadas</p>
            {% for task in completed_tasks %}
            <article class="media content-section row mx-2 border border-info rounded">
                <div class="media-body col-md-10">
                    <div class="article-metadata">
                        <small>{{ task.get_status_display }}</small><br>
                        <small class="text-muted">
                            {% if task.due_date < timezone_now %}
                                Venció: 
                            {% else %}
                                Vence: 
                            {% endif %}
                            {{ task.due_date }}
                        </small>
                    </div>
                    <h5 class="mb-0"><a class="article-title" href="#">{{ task.name }}</a></h5>
                    <small> Proyecto: <a href="#">{{ task.project }}</a></small>
                </div>
            </article>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
