{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="masthead row justify-content-center">
    {% include "components/tasks_sidebar.html" %}
    <div class="col-md-7 col-sm-10" id="tasksContent">
        <h4 class="text-secondary">Tareas 
            {% if request.resolver_match.kwargs.filter_by == 'project' %}
            > Proyectos > {{ filter_object }}
            {% elif request.resolver_match.kwargs.filter_by == 'team' %}
            > Equipos > {{ filter_object }}
            {% endif %}
        </h4>
        <ul class="nav nav-pills mb-2">
            <li class="nav-item">
              <a class="nav-link h6 active" id="showUserTasks" href="#">Asignadas a mí</a>
            </li>
            <li class="nav-item">
              <a class="nav-link h6" id="showAllTasks" href="#">Todas</a>
            </li>
        </ul>
        <div id="userTasks" style="display: block">
        {% if pending_tasks.user %}
            {% include "components/tasks-card.html" with tasks_type='Pendientes' view='U' tasks_list=pending_tasks.user %}
        {% endif %}
        {% if in_dev_tasks.user %}
            {% include "components/tasks-card.html" with tasks_type='En desarrollo' view='U' tasks_list=in_dev_tasks.user %}
        {% endif %}
        {% if in_review_tasks.user %}
            {% include "components/tasks-card.html" with tasks_type='Listas para revisión' view='U' tasks_list=in_review_tasks.user %}
        {% endif %}
        {% if completed_tasks.user %}
            {% include "components/tasks-card.html" with tasks_type='Completadas' view='U' tasks_list=completed_tasks.user %}
        {% endif %}
        </div>
        <div id="allTasks" style="display: none">
        {% if pending_tasks.everyoneOnTeam %}
            {% include "components/tasks-card.html" with tasks_type='Pendientes' view='A' tasks_list=pending_tasks.everyoneOnTeam %}
        {% endif %}
        {% if in_dev_tasks.everyoneOnTeam %}
            {% include "components/tasks-card.html" with tasks_type='En desarrollo' view='A' tasks_list=in_dev_tasks.everyoneOnTeam %}
        {% endif %}
        {% if in_review_tasks.everyoneOnTeam %}
            {% include "components/tasks-card.html" with tasks_type='Listas para revisión' view='A' tasks_list=in_review_tasks.everyoneOnTeam %}
        {% endif %}
        {% if completed_tasks.everyoneOnTeam %}
            {% include "components/tasks-card.html" with tasks_type='Completadas' view='A' tasks_list=completed_tasks.everyoneOnTeam %}
        {% endif %}
            </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/switchTasksView.js' %}"></script>
{% endblock script%}