{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="masthead row justify-content-center">
		<div class="col-md-3"></div>
		<div class="jumbotron shadow col-md-6 col-sm-10 p-5">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-5"><h3>Agregar Integrantes</h3></legend>
					{{ m_form|crispy }}
				</fieldset>
				<div class="form-group d-flex justify-content-end">
					<button class="btn btn-outline-secondary" type="submit">Guardar</button>
				</div>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
{% endblock content %}