{% extends 'layout/base.html' %}

{% block content %}
<div class="d-flex justify-content-center flex-wrap">
    <div class="masthead bg-primary rounded-bottom mb-5 shadow-sm text-white pt-5 d-flex flex-column pb-0 px-2 col-11 col-sm-10">
            <div class="mt-5 d-flex justify-content-center flex-wrap text-center col-12">
                <h4>Enviar solicitud a {{receiver_user.first_name}}</h4>
            </div>
            <p class="text-center">Para enviarle solicitud necesitas llenar el siguiente formulario, eligiendo el <b>Equipo</b>, el asusto y sí gustas un mensaje personalidad para dar tus razones de incluirl@</p>
    </div>
    <div class="d-flex justify-content-center col-12 col-sm-8">
        <div class="d-flex justify-content-around align-items-center bg-primary rounded text-white mb-5 py-4 px-4 col-12 flex-wrap">
            <div class="d-flex flex-column mr-2 text-justify">
                <a class="nounderline ml-2 text-white text-wrap font-weight-bold" href="{% url 'users-profile' receiver_user.username %}">
                    Para más detalles sobre {{receiver_user.first_name}} ({{receiver_user.username}}) visita su perfil 
                    <img class="rounded-circle thumbnail border border-secondary ml-3 mb-4" src="{{ receiver_user.profile.image.url }}"/>
                </a>
                El correo electronico de {{ receiver_user.first_name }} es: <a class="nounderline text-white ml-4" data-toggle="tooltip" title="Enviar email" href="mailto:{{ receiver_user.email }}">{{ receiver_user.email }}</a>
                en caso de necesitar un contacto más directo.
            </div>
            <form role="form" action="{% url 'teams-join-invitation-done' %}">
                <div class="form-group">
                    <label for="emailSubject">Mensaje corto (Asunto)</label>
                    <input type="text" class="form-control" id="emailSubject" name="emailSubject" placeholder="Invitación a mi equipo">
                </div>
                <div class="form-group">
                    <label for="emailTeamInvite">Equipo</label>
                    <select id="emailTeamInvite" name="emailTeamInvite" class="form-control">
                        <option selected>Elige...</option>
                        {% for team in current_user_teams %}
                            <option>{{team}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="messagePersonalized">Mensaje Personalizado</label>
                    <textarea class="form-control" id=" " name="messagePersonalized" rows="3"></textarea>
                </div>
                <input type="hidden" name="emailTo" value="{{ receiver_user.email }}" />
                <input type="hidden" name="emailFrom" value="{{ user.email }}" />
                <input type="hidden" name="userTo" value="{{ receiver_user.username }}" />
                <div class="col-auto text-right">
                    <button type="submit" class="btn btn-outline-secondary mb-2">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}