{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
	<div class="masthead text-center mt-n5 mb-0 pb-0 d-flex justify-content-center align-items-baseline flex-wrap">
		<div class="col-11 col-sm-8 jumbotron bg-dark shadow-sm">
			<h1 class="fs-3 text-white"><i class="fas fa-check-circle mr-4"></i>Auto-evaluación de desempeño de equipo</h1>
		</div>
	</div>
{% endblock header %}
{% block content %}
	<div class="masthead d-flex justify-content-center row pt-0">
		<div class="col-11 col-sm-8">
			{% block messages %}{% include "components/messages.html" %}{% endblock %}
			<form method='POST' action="">
				{% csrf_token %}
				{% if average_eval_bool %}
					<div class="border border-dark p-4 rounded mb-4">
						<h4 class="text-center text-dark">¡Ya realizaste la evaluación! </br> Lamentablemente solo la puedes realizar una vez por equipo.</h4>
					</div>
				{% endif %}
				<div id="evalTest" {% if average_eval_bool %}style="display: none;"{% endif %}>
					<fieldset class="form-group">
						<legend class="jumbotron border border-dark border-bottom mb-4 py-2">
							<a class="nounderline text-dark" data-toggle="collapse" href="#collapseExample" role="button"
								aria-expanded="false" aria-controls="collapseExample">
								<h3 class="text-dark text-center text-uppercase">
									Instrucciones
									<i class="ml-2 fas fa-chevron-down text-collapsed"></i>
									<!--More-->
									<i class="ml-2 fas fa-chevron-up text-expanded"></i>
									<!--Less-->
								</h3>
							</a>
							<div class="collapse px-5 pt-4" id="collapseExample">

								<p class="text-justify font-weight-normal">
									Esta auto-evaluación consta de una serie de enunciados relacionados al desempeño de tu
									equipo, por favor lee con atención cada uno y evalúalo honestamente con una escala de 0 a 4,
									donde:
								
								<ul>
									<li class="font-weight-bold">0 = Muy en desacuerdo</li>
									<li class="font-weight-bold">1 = En desacuerdo</li>
									<li class="font-weight-bold">2 = Neutral</li>
									<li class="font-weight-bold">3 = De acuerdo</li>
									<li class="font-weight-bold">4 = Totalmente de acuerdo</li>
								</ul>

								<div class="d-flex justify-content-end">
									<a class="nounderline text-dark" data-toggle="collapse" href="#collapseExample"
										role="button" aria-expanded="true" aria-controls="collapseExample">
										<i class="ml-2 fas fa-chevron-up text-expanded"></i>
										<!--Less-->
									</a>
								</div>
								</p>

							</div>
						</legend>
						<div class="jumbotron border border-dark mt-2">
							{% for field in form %}
								<div class="d-flex flex-column mb-5 border border-top-0 rounded-bottom">
									{{ field.errors }}
									<label for="{{ field.id_for_label }}" class="mx-5">
										<h5>{{field.label_tag}}</h5>
									</label>
									<div class="d-inline-flex justify-content-around">
										{% for radio in field %}
										<label class="containerRadio zoom">
											<h6 class="fs-1 mt-1">{{ radio.choice_label }}</h6>
											{{ radio.tag }}
											<span class="checkmark"></span>
										</label>
										{% endfor %}
									</div>
								</div>
							{% endfor %}
						</div>
					</fieldset>
					<div class="form-group text-right">
						<button class="btn btn-outline-dark" type="submit">Evaluar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}