<div class="col-md-3 col-sm-10 mt-5">
    <div class="jumbotron">
        <div class="list-group mb-2">
            <a id="allTeams" href="{% url 'teams-chat-list' %}"
            class="list-group-item list-group-item-action border-dark
            {% if 'chat' in request.path %} active {% endif %} h6">
            Chats de equipos
            </a>
        </div>
        <div class="list-group mb-2">
            <a id="allTeams" href="{% url 'teams-chat-inbox' %}"
            class="list-group-item list-group-item-action border-dark
            {% if 'message' in request.path %} active {% endif %} h6">
            Mensajes privados
            {% if new_inbox_messages %}
            {% if new_inbox_messages == 1 %}
             (1 nuevo)
            {% else %}
             ({{ new_inbox_messages }} nuevos)
            {% endif %}
            {% endif %}
            </a>

        </div>
    </div>
</div>