{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>Team Builder</title>
		{% endif %}
    	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	</head>
	<body>
		<header class="site-header">
			<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
				<div class="container">
					<span style="font-size: 2.5rem; padding: 0rem 0.5rem 0rem 0.5rem; color: white;"><i class="fas fa-users"></i></span>
					<a class="navbar-brand mr-4" href="{% url 'layout-index' %}">Team Builder</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggle">
						<div class="navbar-nav mr-auto">
							<a class="nav-item nav-link" href="{% url 'layout-index' %}"><span style="font-size: 1rem; padding: 0rem 0.5rem 0rem 0.5rem;"><i class="fas fa-home"></i></span>Inicio</a>
							<a class="nav-item nav-link" href="{% url 'layout-about' %}"><span style="font-size: 1rem; padding: 0rem 0.5rem 0rem 0.5rem;"><i class="fas fa-info-circle"></i></span>Acerca de</a>
						</div>
						<!-- Navbar Right Side -->
						<div class="navbar-nav">
							<a class="nav-item nav-link" href="{% url 'layout-faq' %}"><span style="font-size: 1rem; padding: 0rem 0.5rem 0rem 0.5rem;"><i class="fas fa-question-circle"></i></span>Preguntas Frecuentes</a>
							{% if user.is_authenticated %}
								<a class="nav-item nav-link" href="{% url 'users-profile'%}"><span style="font-size: 1rem; padding: 0rem 0.5rem 0rem 0.5rem;"><i class="fas fa-user-circle"></i></span>Perfil</a>
								<a class="nav-item nav-link" href="{% url 'users-signout'%}"><span style="font-size: 1rem; padding: 0rem 0.5rem 0rem 0.5rem;"><i class="fas fa-sign-out-alt"></i></span>Cerrar Sesión</a>
							{% else %}
								<a class="nav-item nav-link" href="{% url 'users-signin'%}"><span style="font-size: 1rem; padding: 0rem 0.5rem 0rem 0.5rem;"><i class="fas fa-sign-in-alt"></i></span>Iniciar Sesión</a>
								<a class="nav-item nav-link" href="{% url 'users-signup'%}"><span style="font-size: 1rem; padding: 0rem 0.5rem 0rem 0.5rem;"><i class="fas fa-user-plus"></i></span>Registro</a>
							{% endif %}
						</div>
					</div>
				</div>
			</nav>
		</header>

		<main role="main" class="container pt-5">
			<div class="row">
				<div class="col-md-4">
					<div class="content-section">
						<h3>Menú Principal</h3>
						<p class='text-muted'> Usados recientemente
						<ul class="list-group">
							<li class="list-group-item list-group-item-light">Últimas Tareas</li>
							<li class="list-group-item list-group-item-light">Nuevas Tareas</li>
							<li class="list-group-item list-group-item-light">Calendario</li>
							<li class="list-group-item list-group-item-light">Proyectos</li>
						</ul>
						</p>
					</div>
					<div class="content-section">
						<h3>Perfiles Similares</h3>
						<p class='text-muted'> Basados en tus intereses
						<ul class="list-group">
							{% for u in users %}
								<li class="list-group-item list-group-item-light mb-2"><div class="row">
									<div class="col-md-3">
										<img class="rounded-circle thumbnail" src="{{ u.profile.image.url }}"/>	
									</div>
									<div class="col-md-9 text-left">
										<p class="text-muted"> {{ u.first_name }} - {{u.username }}</p>
										<p class="text-muted"> {{ u.email }}</p>
									</div>
								</div></li>
							{% endfor %}
						</ul>
						</p>
					</div>
				</div>
				<div class="col-md-8">
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-{{ message.tags }}">{{message}}</div>
						{% endfor %}
					{% endif %}
					{% block content %}{% endblock %}
				</div>
			</div>
		</main>
		<!-- Optional JavaScript -->
		<script src="https://kit.fontawesome.com/de0e1f67df.js" crossorigin="anonymous"></script>
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% block script %}{% endblock script %}
	</body>
</html>