{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <div class="masthead row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-10">
            <div class="content-section">
                <div class="media">
                    <div class="media-body text-center">
                        <img class="rounded-circle account-img img-thumbnail" src="{{ foreign_user.profile.image.url }}"/>
                        <h2 class="account-heading">{{ foreign_user.first_name }} {{ foreign_user.last_name }}</h2>
                        <p class="text-secondary">{{ foreign_user.username }} - {{ foreign_user.email }}</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="content-section d-flex flex-wrap justify-content-center">
                    {% for field in fields %}
                        <div class="content-section col-md-4 my-2 mx-4">
                            <div class="text-left">
                                <h4><i class="{{ field.icon }} pr-2"></i>{{ field.name }}</h4>
                                {% for value in field.values %}
                                    <p>{{ value.name }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </div> 
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock header %}
{% block content %}
{% endblock content %}