{% extends 'layout/base.html' %}

{% block header %}
	<div class="masthead row d-flex justify-content-center">
		
		<div class="col-md-9 col-sm-10">
			<div class="jumbotron pt-0 pb-2">
				{% block messages %}{% include "components/messages.html" %}{% endblock %}
				<div class="pt-2 d-flex justify-content-between">
					<div class="dropright">
						<a class="nounderline dropdown-toggle" href="#" title="Menu" role="button" id="menuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="fs-2 m-1"><i class="fas fa-bars text-dark"></i></span>
						</a>
						<div class="dropdown-menu" aria-labelledby="menuProfile">
							<div class="d-flex">
								<a class="dropdown-item" target="_blank" href="{% url 'projects-list' %}"><i class="fas fa-lightbulb mr-2"></i>Projectos</a>
								<a class="dropdown-item" target="_blank" href="{% url 'teams-list' %}"><i class="fas fa-users mr-2"></i>Equipos</a>
								<a class="dropdown-item" target="_blank" href="{% url 'projects-tasks' %}"><i class="fas fa-tasks mr-2"></i>Tareas</a>
							</div>
						</div>
					</div>
				</div>				
				<div class="media">
					<div class="media-body text-center">
						<img class="rounded-circle account-img img-thumbnail" src="{{ foreign_user.profile.image.url }}"/>
						<h2 class="account-heading">{{ foreign_user.first_name }} {{ foreign_user.last_name }}</h2>
						<p class="text-muted text-uppercase mt-n2">({{ foreign_user.username }})</p>
						<p class="text-muted mt-n3"><a class="nounderline" data-toggle="tooltip" title="Enviar email" href="mailto:{{ foreign_user.email }}">{{ foreign_user.email }}</a></p>
					</div>
				</div>
				<div class="media d-flex justify-content-center">
					<ul class="nav nav-pills nav-justified mb-3" role="tablist">
						{% for field in fields %}
							<li class="nav-item mt-2 mx-2">
								<a class="nav-link d-flex flex-column" data-toggle="tab" href="#card_{{ forloop.counter }}" role="tab">
									<i class="{{ field.icon }} mr-2 mb-1 fs-2"></i>
									<span class="text-secondary font-weight-bold fs-1">{{ field.name }}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="tab-content mb-2">
					{% for field in fields %}
						<div id="card_{{ forloop.counter }}" class="container tab-pane fade col-md-4">
							{% for value in field.values %}
								<h6 class="text-center content-section my-0">{{ value.name }}</h6>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

	</div>
{% endblock header %}

{% block content %}
	<div class="masthead row mt-4 pt-4 d-flex justify-content-center">
		<div class="col-md-7"></div>
		<div class="col-md-3 col-sm-10"></div>
		<div class="col-md-2"></div>
	</div>
{% endblock content %}