{% extends 'layout/base.html' %}

{% block header %}
	<div class="masthead row d-flex justify-content-center mx-sm-5">
		<div class="col-11 col-sm-10 mt-n5">
			<div class="jumbotron bg-dark pt-0 pb-2">
				{% block messages %}{% include "components/messages.html" %}{% endblock %}
				<div class="pt-2 d-flex justify-content-between">
					<div class="dropright">
						<a class="nounderline dropdown-toggle" href="#" title="Menu" role="button" id="menuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="fs-2 m-1"><i class="fas fa-bars btn btn-outline-light border-0 fs-2"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="menuProfile">
							<div class="d-flex flex-column">
								<a class="dropdown-item text-dark" target="_blank" href="{% url 'projects-list' %}"><i class="fas fa-lightbulb mr-2"></i>Projectos</a>
								<a class="dropdown-item text-dark" target="_blank" href="{% url 'teams-list' %}"><i class="fas fa-users mr-2"></i>Equipos</a>
								<a class="dropdown-item text-dark" target="_blank" href="{% url 'projects-tasks' %}"><i class="fas fa-tasks mr-2"></i>Tareas</a>
							</div>
						</div>
					</div>
					{% if not foreign_user.profile.results_private %}
						<a class="nounderline" href="{% url 'layout-hexaco-compare' foreign_user.username %}" data-toggle="tooltip" title="Comparar personalidad con...">
							<i class="fas fa-ruler btn btn-outline-light border-0 fs-2"></i>
						</a>
					{% endif %}
				</div>				
				<div class="media">
					<div class="media-body text-center text-light">
						<img class="rounded-circle account-img img-thumbnail" src="{{ foreign_user.profile.image.url }}"/>
						<h2 class="account-heading">{{ foreign_user.first_name }} {{ foreign_user.last_name }}</h2>
						<p class="text-muted text-uppercase mt-n2">({{ foreign_user.username }})</p>
						<p class="text-muted mt-n3"><a class="nounderline" data-toggle="tooltip" title="Enviar email" href="mailto:{{ foreign_user.email }}">{{ foreign_user.email }}</a></p>
					</div>
				</div>
				<div class="media d-flex justify-content-center">
					<ul class="nav nav-pills nav-justified mb-3" role="tablist">
						{% for field in fields %}
							<li class="nav-item mt-2 mx-2">
								<a class="nav-link d-flex flex-column" data-toggle="tab" href="#card_{{ forloop.counter }}" role="tab">
									<i class="{{ field.icon }} mr-2 mb-1 fs-2"></i>
									<span class="font-weight-bold fs-1">{{ field.name }}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="tab-content mb-2">
					{% for field in fields %}
						<div id="card_{{ forloop.counter }}" class="container tab-pane fade col-md-4">
							{% for value in field.values %}
								<h6 class="text-center content-section shadow-sm bg-info rounded text-white my-1 border-0">{{ value.name }}</h6>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

	</div>
{% endblock header %}

{% block content %}
	<div class="masthead row d-flex justify-content-center mt-0 pt-0 mx-sm-5">
		<div class="col-11 col-sm-10 mt-0">
			<div class="jumbotron bg-dark shadow-sm text-white pt-4">
				<h3>Información Personal</h3></br>
				<h5>Descripción</br><span class="font-weight-normal">{{foreign_user.profile.description}}</span></h5>
			</div>
		</div>
	</div>
	{% if foreign_user.profile.school_role %}
		<div class="masthead row d-flex justify-content-center mt-0 pt-0 mx-sm-5">
			<div class="col-11 col-sm-10 mt-0">
				<div class="jumbotron bg-dark shadow-sm text-white pt-4">
					<h3>Información Escolar</h3></br>
					{% if  foreign_user.profile.school_role == 'student' %}
						<h5><span class="font-weight-normal">Estudiante de la <b>Escuela Súperior de Cómputo</b> desde <b>{{foreign_user.student_profile.entry_year}}</b>, entró en el semestre de <b>{% if foreign_user.student_profile.entry_semester == 'agosto' %}Agosto - Diciembre {% else %}Enero - Junio{% endif %}</b></span></h5>
						<h5><span class="font-weight-normal">Dentro de la carrera de</span> <span class="text-capitalize">{{foreign_user.student_profile.career}}</span></h5>
					{% else %}
						<h5><span class="font-weight-normal">Profesor de la <b>Escuela Súperior de Cómputo</b> desde <b>{{foreign_user.teacher_profile.entry_year}}</b>, entró en el semestre de <b>{% if foreign_user.teacher_profile.entry_semester == 'agosto' %}Agosto - Diciembre {% else %}Enero - Junio{% endif %}</b></span></h5>
						<h5><span class="font-weight-normal">Dentro de la academia de</span> <span class="text-capitalize">{{foreign_user.teacher_profile.academy}}</span></h5>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock content %}