{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <div class="masthead d-flex justify-content-center">
        <div class="content-section">
            <div class="text-right"><a href="{% url 'users-update-profile'%}">
                <span style="font-size: 2rem; padding: 0.5rem;"><i class="fas fa-user-edit text-dark"></i></span>
            </a></div>
            <div class="media">
                <div class="media-body text-center">
                    <img class="rounded-circle account-img img-thumbnail" src="{{ user.profile.image.url }}"/>
                    <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                    <p class="text-secondary">{{ user.username }} - {{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}
{% block content %}
    <div class="d-flex justify-content-center mx-5">
        {% for field in fields %}
            <div class="content-section mx-2">
                <div class="text-left">
                    <h3><i class="{{ field.icon }} pr-2"></i>{{ field.name }}</h3>
                    {% for value in field.values %}
                        <p>{{ value.name }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>  
{% endblock content %}
{% block sidebar %}
{% endblock sidebar %}