{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
	<div class="masthead d-flex justify-content-center row">
		<div class="col-md-3"></div>
		<div class="jumbotron col-md-6 col-sm-8 p-5">
			{% block messages %}{% include "components/messages.html" %}{% endblock %}
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-5"><h3>Reiniciar Contraseña</h3></legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-primary" type="submit">Reiniciar</button>
				</div>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
{% endblock %}