{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
	<div class="masthead d-flex justify-content-center row">
		<div class="jumbotron shadow-sm col-10 col-sm-6 p-5">
			{% block messages %}{% include "components/messages.html" %}{% endblock %}
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-5"><h3>Reiniciar Contraseña</h3></legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group d-flex justify-content-end">
					<button class="btn btn-outline-dark" type="submit">Solicita reinicio de contraseña</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}