{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
	<div class="masthead d-flex justify-content-center row">
		<div class="col-md-3"></div>
		<div class="content-section col-md-6 col-sm-8">
			{% block messages %}{% include "components/messages.html" %}{% endblock %}
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Reiniciar Contraseña</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Solicita reinicio de contraseña</button>
				</div>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
{% endblock %}