{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
	<div class="masthead d-flex justify-content-center row mt-n5">
		<div class="jumbotron shadow-sm col-10 col-md-6 col-sm-10 p-3">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-5"><h3>Registro</h3></legend>
					<div class="d-flex flex-wrap">
						{% for field in u_form.visible_fields|slice:"2:4" %}
							<div class="mt-n4 col-md-6">
								<label for="{{ field.id_for_label }}"></label>
								{{ field |as_crispy_field }}
							</div>
						{% endfor %}
						{% for field in u_form.visible_fields|slice:":2" %}
							<div class="mt-n4 col-md-6">
								{{ field.errors }}
								<label for="{{ field.id_for_label }}"></label>
								{{ field |as_crispy_field }}
							</div>
						{% endfor %}
						{% for field in u_form.visible_fields|slice:"4:" %}
							<div class="mt-n4 col-md-12">
								{{ field.errors }}
								<label for="{{ field.id_for_label }}"></label>
								{{ field |as_crispy_field }}
							</div>
						{% endfor %}
					</div>
				</fieldset>
				<div class="form-group mx-4">
					<button class="btn btn-outline-dark" type="submit">Registrate</button>
				</div>
			</form>
			<div class="border-top pt-3">
				<small class="text-muted">
					¿Ya tienes cuenta? <a class="nounderline ml-2" href="{% url 'users-signin' %}">Iniciar Sesión</a>
				</small>
			</div>
		</div>
	</div>
{% endblock header %}
{% block content %}
{% endblock content %}