{% extends 'layout/base.html' %}

{% block content %}
    <div class="masthead">
        <div class="container content-section">
            <h3>Mis Tareas</h3><br>
            {% for task in tasks %}
                <article class="media content-section row mx-2">
                    <div class="media-body col-md-10">
                        <div class="article-metadata">
                            <small>{{ task.get_status_display }} </small><br>
                            <small class="text-muted">Vencimiento: {{ task.due_date }}</small>
                        </div> 
                        <h5><a class="article-title" href="#">{{ task.name }}</a></h5>
                        <small>Proyecto: <a href="#">{{ task.project }}</a></small>
                        <p class="article-content">{{ task.description|truncatewords:40 }}</p>
                    </div>
                    <div class="col-md-2 text-center">
                        <p class="article-content">Asignado a: </p>
                        <ul>
                            {% for member in task.assigned_members.all %}
                                <li class="article-content">{{ member }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block sidebar %}
{% endblock sidebar %}