{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="masthead row justify-content-center">
		<div class="jumbotron shadow-sm col-10 col-sm-8 py-5 px-3">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-5"><h3>Actualizar Perfil</h3></legend>
					<div class="d-flex flex-wrap">
						{{ u_form|as_crispy_errors }}
						{% for field in u_form.visible_fields|slice:":-1" %}
							<div class="mt-n4 col-md-6">
								{{ field.errors }}
								<label for="{{ field.id_for_label }}"></label>
								{{ field |as_crispy_field }}
							</div>
						{% endfor %}
						{% for field in p_form.visible_fields|slice:"0:1" %}
							<div class="mt-n4 col-md-6">
								{{ field.errors }}
								<label for="{{ field.id_for_label }}"></label>
								{{ field |as_crispy_field }}
							</div>
						{% endfor %}
						{% for field in u_form.visible_fields|slice:"-1:" %}
							<div class="mt-n4 col-md-12">
								{{ field.errors }}
								<label for="{{ field.id_for_label }}"></label>
								{{ field |as_crispy_field }}
							</div>
						{% endfor %}
					</div>
					<div class="mx-4">
						{% for field in p_form.visible_fields|slice:"1:" %}
							<div class="mt-n4">
								{{ field.errors }}
								<label for="{{ field.id_for_label }}"></label>
								{{ field |as_crispy_field }}
							</div>
						{% endfor %}
					</div>
				</fieldset>
				<div class="form-group d-flex justify-content-around">
					<a class="btn btn-outline-secondary nounderline ml-2" href="{% url 'password_reset' %}">Cambiar contraseña </a>
					<button class="btn btn-outline-secondary" type="submit">Guardar</button>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}
{% block script %}
{% endblock script %}