{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="masthead row justify-content-center">
		<div class="col-md-3"></div>
		<div class="content-section col-md-6 col-sm-10">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Actualizar perfil</legend>
					<div>
						{{ u_form|crispy }}
					</div>
					<div class="mt-n4">
						{% for field in p_form %}
							<div class="mt-n4">
								{{ field.errors }}
								<label for="{{ field.id_for_label }}"></label>
								{{ field |as_crispy_field }}
							</div>
						{% endfor %}
					</div>
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Guardar</button>
				</div>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
{% endblock content %}
{% block script %}
<script src=></script> {{ o_form.media }} <script></script>
{% endblock script %}