{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>Team Builder</title>
		{% endif %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="author" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<!-- Google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

		<!-- Core theme CSS (includes Bootstrap)-->
		<link rel="stylesheet" type="text/css" href="https://jdavidpm.github.io/my-static-files/teamBuilder/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
		<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>

		<!-- Validetta -->
		<link href="https://jdavidpm.github.io/my-static-files/external-plugins/validetta/validetta.min.css" rel="stylesheet" type="text/css" media="screen" >
	</head>
	<body id="page-top">
		{% include 'components/navbar.html' %}
		<main role="main" >
			{% block header %}{% endblock %}
			{% block content %}{% endblock %}
		</main>
		{% include 'components/footer.html' %}
		<!-- Optional JavaScript -->
		<script src="https://kit.fontawesome.com/de0e1f67df.js" crossorigin="anonymous"></script>
		 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<!-- Validetta -->
		<script type="text/javascript" src="https://jdavidpm.github.io/my-static-files/external-plugins/validetta/validetta.min.js"></script>
		<script type="text/javascript" src="https://jdavidpm.github.io/my-static-files/external-plugins/validetta/validettaLang-es-ES.js"></script>
		<script src="{% static 'js/init.js' %}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			const notifUrl="{% url 'users-notifications' %}";
			$.get(notifUrl, function(data, status){
                var jsondata = JSON.parse(data);
				//console.log("there are " + jsondata['unread_notifications'] + " unread notifications")
				var icons_html;
				var unread_notifications = jsondata['unread_notifications'];
				if (unread_notifications > 0) {
					$("#notifications-item").addClass('fa-stack');
					if (unread_notifications == 1) {
						$("#notifications-item").attr('title', 'tienes 1 notificación nueva');
					} else {
						$("#notifications-item").attr('title', 'tienes '+unread_notifications+' notificaciones nuevas');
					}
					if (unread_notifications < 10) {
						icons_html = "<i class='fas fa-bell px-2 fs-2 fa-stack-1x'></i><i class='fa-stack-1x text-secondary text-center'>"+unread_notifications+"</i>"
					} else {
						icons_html = "<i class='fas fa-bell px-2 fs-2 fa-stack-1x'></i><i class='fa-stack-1x text-secondary text-center'><small>9+</small></i>"
					}	
				} else {
					$("#notifications-item").attr('title', 'no tienes notificaciones nuevas');
					icons_html = "<i class='far fa-bell px-2 fs-2'></i>"
				}
				$("#notifications-link").html(icons_html);
				$("#notifications-sm-span").html(" | <i>"+unread_notifications+" nueva(s)</i>");
            });
		</script>
		{% block script %}{% endblock script %}
	</body>
</html>