{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
	<div class="masthead text-center mb-0 pb-0 d-flex justify-content-center align-items-baseline flex-wrap">	
		<div class="col-md-2"></div>
		<div class="col-md-8 col-sm-10 jumbotron">
			<h1 class="fs-4"> Test de Personalidad </h1>
            <h1 class="fs-4 d-flex align-items-center justify-content-center"><i class="fas fa-h-square fs-6"></i>EXACO</h1>
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock header %}
{% block content %}
	<div class="masthead d-flex justify-content-center row pt-0">
		<div class="content-section col-md-7 col-sm-8">
			{% block messages %}{% include "components/messages.html" %}{% endblock %}
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Contesta</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group text-right">
					<button class="btn btn-outline-info" type="submit">Generar resultados</button>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}