{% extends 'layout/base.html' %}

{% block header %}
	<div class="masthead text-center mb-0 pb-0 d-flex justify-content-center align-items-baseline flex-wrap">	
		<div class="col-md-2"></div>
		<div class="col-md-8 col-sm-10 jumbotron">
			<h1 class="fs-4">Test de Personalidad</h1>
            <h1 class="fs-4 d-flex align-items-center justify-content-center"><i class="fas fa-h-square fs-6"></i>EXACO</h1>
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock header %}

{% block content %}
{% endblock content %}