{% extends 'layout/base.html' %}

{% block header %}
	<div class="masthead text-center mb-0 pb-0 d-flex justify-content-around flex-wrap">	
		<div class="col-12 col-sm-11">
			<h1 class="fs-3 jumbotron bg-secondary text-white px-2 text-wrap"><i class="fas fa-equals mr-4"></i>Comparación de Personalidad HEXACO</h1>
			<div class="d-flex justify-content-between align-items-start flex-wrap">
				<canvas id="chart" width="500" height="550" class="jumbotron shadow-sm col-12 col-sm-12 col-md-8 p-0 mx-0"></canvas>
				<div class="text-left  col-12 col-sm-12 col-md-4 mb-2">
					<a class="nounderline btn btn-outline-secondary border-0" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu">
						<h3 class="text-left"><i class="fas fa-bars mr-2"></i>Menu</h3>
					</a>
					<div class="collapse text-left py-2" id="collapseMenu">
						<div class="d-flex flex-column">
							<a class="my-4 btn btn-outline-secondary shadow nounderline" target="_blank" href="{% url 'layout-hexaco-test' %}"><i class="fas fa-plus mr-2"></i>Volver a realizar</a>
							<a class="my-4 btn btn-outline-secondary shadow nounderline" href="{% url 'layout-hexaco-results' %}?type=polarArea"><i class="fas fa-chart-pie mr-2"></i>Gráfico Radar</a>
							<a class="my-4 btn btn-outline-secondary shadow nounderline" href="{% url 'layout-hexaco-results' %}?type=bar"><i class="fas fa-chart-bar mr-2"></i>Gráfico Barras</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock header %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		$(document).ready(function(){
			let ctx = document.getElementById("chart").getContext("2d");
			let chart = new Chart(ctx, {
			type: 'radar',
			data: {
				labels: [{% for l in labels %}'{{ l }}', {% endfor %}],
				datasets: [
					{
						label: '{{ user.first_name }}',
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(255, 159, 64, 0.2)'
						],
						borderColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)'
						],
						data: [{% for v in values_m %}'{{ v }}', {% endfor %}]
					},
                    {
						label: '{{ compare_user }}',
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(255, 159, 64, 0.2)'
						],
						borderColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)'
						],
						data: [{% for v in values_c %}'{{ v }}', {% endfor %}]
					}
				]
			},
			options: {
				indexAxis: 'y',
				responsive: false,
				layout: {
					padding: 20
					},
				plugins: {
					title: {
						display: false,
						color: '#2c3e50',
						padding: 20,
						font: {
							size: 25,
						},
						text: 'Rasgos de Personalidad',
					},
					legend: {
						display: true,
						position: 'top',
						labels: {
							boxWidth: 25,
							boxHeight: 25,
							padding: 20,
							color: '#2c3e50',
						}
					}
				},
				maintainAspectRatio: true,
				scale: {
					beginAtZero: false,
					min: 1,
					r: {

						min: 1,
						ticks: {
							stepSize: 0.5,
						}
					}
					},
			}
			});
		});
	</script>
{% endblock script %}