{% extends 'layout/base.html' %}

{% block header %}
<header class="masthead bg-primary text-white text-center">
    {% if user.is_authenticated %}
        <div class="row ">
            <div class="col-md-2">
                <!-- Masthead Avatar Image-->
                <span style="font-size: 6rem;"><i class="fas fa-users masthead-avatar text-secondary"></i></span>
                <!-- Masthead Heading-->
                <h1 class="masthead-subheading text-uppercase text-secondary">Team Builder</h1>
                <!-- Masthead Subheading-->
                <p class="masthead-liheading font-weight-light mb-0">¡Bienvenido, {{user.first_name}}!</p>
            </div>
            <div class="col-md-10">
                <!-- Masthead Avatar Image-->
                <span style="font-size: 6rem;"><i class="fas fa-users masthead-avatar text-secondary"></i></span>
                <!-- Masthead Heading-->
                <h1 class="masthead-subheading text-uppercase text-secondary">Team Builder</h1>
                <!-- Masthead Subheading-->
                <p class="masthead-liheading font-weight-light mb-0">¡Bienvenido, {{user.first_name}}!</p>
            </div>
        </div>
    {% else %}
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <span style="font-size: 12rem;"><i class="fas fa-users masthead-avatar mb-5"></i></span>
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Team Builder</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Equipos de Trabajo - Organización - Compatibilidad</p>
        </div>
    {% endif %}
</header>
{% endblock header %}
{% block content %}
{% endblock content %}