{% extends 'layout/base.html' %}

{% block header %}
<header class="masthead bg-primary text-white text-center pt-5 mt-5">
    {% block messages %}{% include "components/messages.html" %}{% endblock %}
    {% if user.is_authenticated %}
        <div class="d-flex align-content-center row justify-content-center">
            <div class="col-md-6 col-sm-10 pt-5">
                <!-- Masthead Avatar Image-->
                <i class="fas fa-users text-secondary fs-16"></i>
                <!-- Masthead Heading-->
                <h1 class="fs-4 text-uppercase text-secondary">Team Builder</h1>
                <!-- Masthead Subheading-->
                <p class="fs-2 font-weight-light mb-0">¡Bienvenid@, <a href="{% url 'users-profile' user.username %}" class="nounderline text-secondary">{{user.first_name}}</a>!</p>
                <div class="content-section bg-primary border-secondary mt-4 d-flex flex-row justify-content-around">
                
                <a href="#" class="text-secondary"><i class="fas fa-calendar-alt fs-4 zoom"></i><p class="font-weight-light fs-1 mt-2 mb-0">Calendario</p></a>
                <a href="{% url 'projects-list' %}" class="text-secondary"><i class="fas fa-lightbulb fs-4 zoom"></i><p class="font-weight-light fs-1 mt-2 mb-0">Proyectos</p></a>
                <a href="{% url 'projects-tasks' %}" class="text-secondary"><i class="fas fa-tasks fs-4 zoom"></i><p class="font-weight-light fs-1 mt-2 mb-0">Tareas</p></a>
                <a href="{% url 'teams-list' %}" class="text-secondary"><i class="fas fa-users fs-4 zoom"></i><p class="font-weight-light fs-1 mt-2 mb-0">Equipos</p></a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <span style="font-size: 12rem;"><i class="fas fa-users masthead-avatar mb-5"></i></span>
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Team Builder</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Equipos de Trabajo - Organización - Compatibilidad</p>
        </div>
    {% endif %}
</header>
{% endblock header %}
{% block content %}
{% endblock content %}