{% extends 'layout/base.html' %}

{% block sidebar %}
    {% if user.is_authenticated %}
        <div class="content-section">
            <h3>Menú Principal</h3>
            <p class='text-muted'> Usados recientemente
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Últimas Tareas</li>
                    <li class="list-group-item list-group-item-light">Nuevas Tareas</li>
                    <li class="list-group-item list-group-item-light">Proyectos</li>
                </ul>
            </p>
        </div>
    {% else %}
        <div class="content-section">
            <h3>Relacionado</h3>
            <p class='text-muted'> Plataformas que podrian interesarte
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><i class="fas fa-graduation-cap mr-2"></i>Moodle</li>
                    <li class="list-group-item list-group-item-light"><i class="fab fa-google mr-2"></i>Google Classrom</li>
                    <li class="list-group-item list-group-item-light"><i class="fab fa-microsoft mr-2"></i>Teams</li>
                </ul>
            </p>
        </div>
    {% endif %}
{% endblock sidebar %}