{% extends 'layout/base.html' %}

{% block sidebar %}
    {% if user.is_authenticated %}
        <div class="content-section">
            <h3>Menú Principal</h3>
            <p class='text-muted'> Usados recientemente
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Últimas Tareas</li>
                    <li class="list-group-item list-group-item-light">Nuevas Tareas</li>
                    <li class="list-group-item list-group-item-light">Proyectos</li>
                </ul>
            </p>
        </div>
    {% else %}
    hold
    {% endif %}
{% endblock sidebar %}