{% extends 'layout/base.html'%}

{% block header %}
	<div class="masthead text-center mb-0 pb-0 d-flex justify-content-center align-items-baseline flex-wrap">	
		<div class="col-md-2"></div>
		<div class="col-md-8 col-sm-10 row d-flex justify-content-around">
			<a class="fs-3 shadow jumbotron bg-dark d-flex justify-content-center col-md-5 col-sm-10 nounderline text-white zoom" href="{% url 'teams-list' %}"><h1><i class="fas fa-users mr-4"></i>Equipos</h1></a>
			<a class="fs-3 shadow jumbotron bg-dark d-flex justify-content-center col-md-5 col-sm-10 nounderline text-white zoom" href="{% url 'projects-list' %}"><h1><i class="fas fa-lightbulb mr-4"></i>Proyectos</h1></a>
			<a class="fs-3 shadow jumbotron bg-dark d-flex justify-content-center col-md-5 col-sm-10 nounderline text-white zoom" href="{% url 'projects-tasks' %}"><h1><i class="fas fa-tasks mr-4"></i>Tareas</h1></a>
			<!--<a class="fs-3 shadow jumbotron bg-dark d-flex justify-content-center col-md-5 col-sm-10 nounderline text-white zoom" href="#"><h1><i class="fas fa-calendar-alt mr-4"></i>Calendario</h1></a>-->
			<a class="fs-3 shadow jumbotron bg-dark d-flex justify-content-center col-md-5 col-sm-10 nounderline text-white zoom" href="{% url 'layout-hexaco-test' %}"><h1><i class="fas fa-dice-d6 mr-4"></i>Test Hexaco</h1></a>
			<a class="fs-3 shadow jumbotron bg-dark d-flex justify-content-center col-md-5 col-sm-10 nounderline text-white zoom" href="{% url 'teams-creation' %}"><h1><i class="fas fa-shapes mr-4"></i>Creación de Equipos</h1></a>
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock header %}
{% block content %}
{% endblock content %}